<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="preload" href="/static/NotoSerif-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/static/NotoSerif-ExtraBold.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey - Aletheia Ware</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <h1 class="center">About</h1>

            <embed class="banner" src="/static/banner.svg" />

            <p class="subtitle">Quality Public Dialogue.</p>

            <p class="center" style="color: deepskyblue;">
                Sick of Spam?
                <br /><br />
                Tired of Trolls?
                <br /><br />
                Done with Doomscrolling?
                <br /><br />
                Exhausted by Echo Chambers?
                <br /><br />
                Turned Off by Targeted Advertising?
                <br /><br />
                Had Enough Harassment, Heckling, and Hate?
                <br /><br />
            </p>

            <h2 class="center">Ready for Something New?</h2>

            <p class="center">Convey is a Communication Platform that Incentivizes Quality Content, Collaboration, and Discussion.</p>

            <a class="call-to-action" href="/subscribe-digest">Send Me the Digest!</a>

            <table class="features">
                <tr>
                    <td class="features">
                        <img class="feature" src="/static/value-quality-not-quantity.svg" />
                    </td>
                    <td class="features">
                        <h2 style="text-align: right;">Value Quality, not Quantity</h2>
                        <p style="text-align: right;">Messages are charged based on their size which incentivizes brevity and ensures authors "put their money where their mouth is."</p>
                        <p style="text-align: right;">Authors are rewarded whenever their content gets a response; higher quality content gets more responses, deeper discussions generate bigger rewards.</p>
                    </td>
                </tr>
                <tr>
                    <td class="features">
                        <h2 style="text-align: left;">Reward the Authors</h2>
                        <p style="text-align: left;">Each month the conversations with the highest rankings and deepest discussions are published in a digest - earning those authors a reward.</p>
                        <p style="text-align: left;">Which makes Convey one of the few platforms to reward contributors for high-quality content!</p>
                    </td>
                    <td class="features">
                        <img class="feature" src="/static/reward-the-authors.svg" />
                    </td>
                </tr>
                <tr>
                    <td class="features">
                        <img class="feature" src="/static/starve-the-trolls.svg" />
                    </td>
                    <td class="features">
                        <h2 style="text-align: right;">Starve the Trolls</h2>
                        <p style="text-align: right;">The community incentivize good content by only engaging with messages that are of value. Bad content doesn't generate responses and will therefore never appear in the digest.</p>
                        <p style="text-align: right;">If a troll replies to your content, ignore them and enjoy the coins you received from them!</p>
                    </td>
                </tr>
                <tr>
                    <td class="features">
                        <h2 style="text-align: left;">Move the World</h2>
                        <p style="text-align: left;">Convey your message to a global audience.</p>
                        <p style="text-align: left;">Enjoy the best content and discussions covering a wide range of topics from authors all around the world.</p>
                    </td>
                    <td class="features">
                        <img class="feature" src="/static/world.svg" />
                    </td>
                </tr>
            </table>

            <a class="call-to-action" href="/demo">Show Me a Demo!</a>

            {{template "footer"}}
        </div>
    </body>
</html>
