<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="preload" href="/static/NotoSerif-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/static/NotoSerif-ExtraBold.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <h1 class="center">Deactivate Account</h1>

            {{if ne .Error "" -}}
            <p class="error">{{.Error}}</p>
            {{- end}}

            <p class="center">Deactivating your account will remove your profile and all contributions from this website. You will be signed out of all active sessions and will no longer be able to access your account.</p>

            <p class="center">{{.Account.Username}} are you sure you want to deactivate your account?</p>

            <form action="/account-deactivate" method="post" id="account-deactivate-form">
                <!-- TODO(v2) add CSRF token
                <input type="hidden" id="token" name="token" value="{ { .Token } }" />
                -->
                <input type="submit" value="Deactivate Account" class="danger" />
            </form>

            {{template "footer"}}
        </div>
    </body>
</html>
