<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="preload" href="/static/NotoSerif-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/static/NotoSerif-ExtraBold.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <h1 class="center">Account Notification Preferences</h1>

            {{if ne .Error "" -}}
            <p class="error">{{.Error}}</p>
            {{- end}}

            <form action="/account-notification-preferences" method="post" id="account-notification-preferences-form">
                <!-- TODO(v2) add CSRF token
                <input type="hidden" id="token" name="token" value="{ { .Token } }" />
                -->
                <table class="notifications">
                    <tr>
                        <th></th>
                        <th>Yes</th>
                        <th>No</th>
                    </tr>
                    <tr>
                        <td>
                            <label for="responses">
                                <h5>Responses</h5>
                                <p>Do you wish to be notified when you receive a response?</p>
                            </label>
                        </td>
                        <td class="notifications">
                            <input type="radio" id="yes" name="responses" value="yes" {{if .NotificationResponses}}checked{{end}}/>
                        </td>
                        <td class="notifications">
                            <input type="radio" id="no" name="responses" value="no" {{if not .NotificationResponses}}checked{{end}}/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="gifts">
                                <h5>Gifts</h5>
                                <p>Do you wish to be notified when you receive a gift?</p>
                            </label>
                        </td>
                        <td class="notifications">
                            <input type="radio" id="yes" name="gifts" value="yes" {{if .NotificationGifts}}checked{{end}}/>
                        </td>
                        <td class="notifications">
                            <input type="radio" id="no" name="gifts" value="no" {{if not .NotificationGifts}}checked{{end}}/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="mentions">
                                <h5>Mentions</h5>
                                <p>Do you wish to be notified when you are mentioned (@{{.Account.Username}})?</p>
                            </label>
                        </td>
                        <td class="notifications">
                            <input type="radio" id="yes" name="mentions" value="yes" {{if .NotificationMentions}}checked{{end}}/>
                        </td>
                        <td class="notifications">
                            <input type="radio" id="no" name="mentions" value="no" {{if not .NotificationMentions}}checked{{end}}/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="digests">
                                <h5>Digests</h5>
                                <p>Do you wish to be notified when a new digest is published?</p>
                            </label>
                        </td>
                        <td class="notifications">
                            <input type="radio" id="yes" name="digests" value="yes" {{if .NotificationDigests}}checked{{end}}/>
                        </td>
                        <td class="notifications">
                            <input type="radio" id="no" name="digests" value="no" {{if not .NotificationDigests}}checked{{end}}/>
                        </td>
                    </tr>
                </table>

                <input type="submit" value="Change Notification Preferences" />
            </form>

            {{template "footer"}}
        </div>
    </body>
</html>
