<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/logo.svg">
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            <div class="header">
                <a href="https://aletheiaware.com">
                    <img src="static/logo.svg" />
                </a>
                {{if not .Live -}}
                <div class="beta">BETA</div>
                {{- end}}
            </div>

            <h1>Account</h1>

            {{if ne .Error "" -}}
            <p class="error">{{.Error}}</p>
            {{- end}}

            <h4>Email</h4>

            <p class="center">{{.Account.Email}}</p>

            <h4>Username</h4>

            <p class="center">{{.Account.Username}}</p>

            <h4>Password</h4>

            <p class="center">
                <a href="/account-password">Change Password</a>
            </p>

            <h4>Joined</h4>

            <p class="center">{{template "date" .Account.Created}}</p>

            <h4>Balance</h4>

            <p class="center">{{.Balance}}{{template "currency"}}</p>

            <p class="center">
                <a href="/coin-buy">Buy Coins</a>
            </p>

            <p class="center">
                <a href="/sign-out">Sign Out</a>
            </p>

            <div class="footer">
                <ul class="nav">
                    <li><a href="/publish">Publish</a></li>
                    <li><a href="/best">Best</a></li>
                    <li><a href="/recent">Recent</a></li>
                    <li><a href="/digest">Digest</a></li>
                </ul>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="mailto:support@aletheiaware.com">Support</a></li>
                </ul>
                <p class="meta">© 2021 Aletheia Ware LLC.  All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
