<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/logo.svg">
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            <div class="header">
                <a href="https://aletheiaware.com">
                    <img src="static/logo.svg" />
                </a>
                {{if not .Live -}}
                <div class="beta">BETA</div>
                {{- end}}
            </div>

            <h1 class="center">Account Recovery Email Verification</h1>

            {{if ne .Error "" -}}
            <p class="error">{{.Error}}</p>
            {{- else -}}
            <p style="text-align: center;">Your username is {{.Username}}</p>
            {{- end}}

            <p style="text-align: center;">Verify your account by entering the verification code that was sent to your email address.</p>

            <form action="/account-recovery-verification" method="post" id="account-recovery-verification-form">
                <!-- TODO(v2) add CSRF token
                <input type="hidden" id="token" name="token" value="{ { .Token } }" />
                -->
                <input type="hidden" id="next" name="next" value="{{.Next}}" />

                <label for="verification">Verification Code</label>
                <input type="text" id="verification" name="verification" autocomplete="one-time-code" />

                <input type="submit" value="Recover Account" />
            </form>

            <div class="footer">
                <ul class="nav">
                    <li><a href="/account">Account</a></li>
                    <li><a href="/publish">Publish</a></li>
                    <li><a href="/best">Best</a></li>
                    <li><a href="/recent">Recent</a></li>
                    <li><a href="/digest">Digest</a></li>
                </ul>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="mailto:support@aletheiaware.com">Support</a></li>
                </ul>
                <p class="meta">© 2021 Aletheia Ware LLC.  All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
