<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <h1 class="center">Account</h1>

            {{if ne .Error "" -}}
            <p class="error">{{.Error}}</p>
            {{- end}}

            <div class="tiles">
                <div class="tile">
                    <h2 class="center">Email</h2>

                    <p class="center">{{.Account.Email}}</p>
                </div>

                <div class="tile">
                    <h2 class="center">Username</h2>

                    <p class="center">{{.Account.Username}}</p>
                </div>

                <div class="tile">
                    <h2 class="center">Password</h2>

                    <p class="center">************</p>

                    <ul class="nav">
                        <li><a href="/account-password">Change Password</a></li>
                    </ul>
                </div>

                <div class="tile">
                    <h2 class="center">Joined</h2>

                    <p class="center">{{template "date" .Account.Created}}</p>
                </div>

                <div class="tile">
                    <h2 class="center">Balance</h2>

                    <p class="center">{{.Balance}}{{template "currency"}}</p>

                    <ul class="nav">
                        <li><a href="/coin-buy">Buy Coins</a></li>
                    </ul>
                </div>

                <div class="tile">
                    <h2 class="center">Notifications</h2>

                    <table style="margin: 0 auto;">
                        <tr>
                            <th style="text-align: right; color: deepskyblue;">Responses</th>
                            <td style="text-align: left;">You {{if .NotificationResponses}}will{{else}}will not{{end}} be notified when you receive a response.</td>
                        </tr>
                        <tr>
                            <th style="text-align: right; color: deepskyblue;">Gifts</th>
                            <td style="text-align: left;">You {{if .NotificationGifts}}will{{else}}will not{{end}} be notified when you receive a gift.</td>
                        </tr>
                        <tr>
                            <th style="text-align: right; color: deepskyblue;">Mentions</th>
                            <td style="text-align: left;">You {{if .NotificationMentions}}will{{else}}will not{{end}} be notified when you are mentioned.</td>
                        </tr>
                        <tr>
                            <th style="text-align: right; color: deepskyblue;">Digests</th>
                            <td style="text-align: left;">You {{if .NotificationDigests}}will{{else}}will not{{end}} be notified when a new digest is published.</td>
                        </tr>
                    </table>

                    <ul class="nav">
                        <li><a href="/account-notification-preferences">Change Notification Preferences</a></li>
                    </ul>
                </div>

                <div class="tile">
                    <h2 class="center">Referrals</h2>

                    <p class="center">Refer a friend and earns coins whenever they appear in the digest.</p>

                    <p class="center"><code>{{.Scheme}}://{{.Domain}}/sign-up?referrer={{.Account.Username}}</code></p>
                </div>
            </div>

            <ul class="nav">
                <li><a href="/sign-out">Sign Out</a></li>
                <li><a href="/account-deactivate" class="danger">Deactivate Account</a></li>
            </ul>

            {{template "footer"}}
        </div>
    </body>
</html>
