<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <h1 class="center">Account Recovery</h1>

            {{if ne .Error "" -}}
            <p class="error">{{.Error}}</p>
            {{- end}}

            <p style="text-align: center;">Enter the email address associated with your account.</p>

            <form action="/account-recovery" method="post" id="account-recovery-form">
                <!-- TODO(v2) add CSRF token
                <input type="hidden" id="token" name="token" value="{ { .Token } }" />
                -->
                <input type="hidden" id="next" name="next" value="{{.Next}}" />

                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="{{.Email}}" autocomplete="email" />

                <input type="submit" value="Recover Account" />
            </form>

            <p class="center">
                or
                <br />
                <br />
                <a href="sign-in{{with .Next}}?next={{.}}{{end}}">Sign In</a>
            </p>

            {{template "footer"}}
        </div>
    </body>
</html>
