<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="preload" href="/static/NotoSerif-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/static/NotoSerif-ExtraBold.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <h1 class="center">
            {{- if eq .Period "day" -}}
            Best of the Day
            {{- else if eq .Period "week" -}}
            Best of the Week
            {{- else if eq .Period "month" -}}
            Best of the Month
            {{- else if eq .Period "year" -}}
            Best of the Year
            {{- else if eq .Period "all" -}}
            Best of All
            {{- end -}}
            </h1>

            <ul class="nav">
                {{if ne .Period "day"}}<li><a href="/best?period=day">Day</a></li>{{end}}
                {{if ne .Period "week"}}<li><a href="/best?period=week">Week</a></li>{{end}}
                {{if ne .Period "month"}}<li><a href="/best?period=month">Month</a></li>{{end}}
                {{if ne .Period "year"}}<li><a href="/best?period=year">Year</a></li>{{end}}
                {{if ne .Period "all"}}<li><a href="/best?period=all">All</a></li>{{end}}
            </ul>

            {{template "conversations" .Conversations}}

            {{if .Account -}}
            {{if gt (len .Conversations) 0 -}}
            <ul class="nav">
                <li><a href="/best?period={{.Period}}&limit={{.Limit}}">More</a></li>
            </ul>
            {{- end}}
            {{- end}}

            {{template "footer"}}
        </div>
    </body>
</html>
