<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/logo.svg">
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            <div class="header">
                <a href="https://aletheiaware.com">
                    <img src="static/logo.svg" />
                </a>
                {{if not .Live -}}
                <div class="beta">BETA</div>
                {{- end}}
            </div>

            <h1>Buy Coins</h1>

            {{if ne .Error "" -}}
            <p class="error">{{.Error}}</p>
            {{- end}}

            {{$count:=(len .Bundles) -}}
            {{if gt $count 0 -}}
            <p style="text-align: center;">Select a coin bundle to purchase.</p>

            <form action="/coin-buy" method="post" id="coin-buy-form">
                <!-- TODO(v2) add CSRF token
                <input type="hidden" id="token" name="token" value="{ { .Token } }" />
                -->
                <table class="bundles">
                    <tr>
                        {{range .Bundles -}}
                        <td class="bundles" style="width: calc(100%/{{$count}});">
                            <label for="{{.PriceID}}"><input type="radio" id="{{.PriceID}}" name="bundle" value="{{.PriceID}}" {{if eq .PriceID $.Bundle}}checked{{ end }}><br />{{.Size}}{{template "currency"}}<br />{{.Price}}</label>
                        </td>
                        {{- end}}
                    </tr>
                </table>

                <p class="center">Powered by <a href="https://stripe.com">Stripe</a></p>

                {{if not .Live -}}
                <div class="beta">Convey is in BETA so coins are free!<br />Simply complete your purchase using the credit card number 4242 4242 4242 4242 <a style="color: white;" href="https://stripe.com/docs/testing#cards">more info</a></div>
                {{- end}}

                <input type="submit" value="Buy Coins" />
            </form>
            {{- else -}}
            <p class="error">Out of Stock</p>
            {{- end}}

            <div class="footer">
                <ul class="nav">
                    <li><a href="/account">Account</a></li>
                    <li><a href="/publish">Publish</a></li>
                    <li><a href="/best">Best</a></li>
                    <li><a href="/recent">Recent</a></li>
                    <li><a href="/digest">Digest</a></li>
                </ul>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="mailto:support@aletheiaware.com">Support</a></li>
                </ul>
                <p class="meta">© 2021 Aletheia Ware LLC.  All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
