<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/logo.svg">
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            <div class="header">
                <a href="https://aletheiaware.com">
                    <img src="/static/logo.svg" />
                </a>
                {{if not .Live -}}
                <div class="beta">BETA</div>
                {{- end}}
            </div>

            <h1>How Convey Works</h1>

            <h2 style="color: white;">Step 1</h2>

            <p>Authors spend 1 coin per byte to start a conversation which incentivizes brevity and disincentivizes spam. In the example below, {{.Step1.User}} spents {{.Step1.Cost}} coins to start a fictional bedtime story.</p>

            <div class="demo">
                <h4 style="margin: 8px 0px;">{{.Step1.Topic}}</h4>

                {{template "message" .Step1}}
            </div>

            <h2 style="color: white;">Step 2</h2>

            <p>Conversations can branch into multiple threads to explore different directions and perspectives. Replies also cost 1 coin per byte, half of which are paid to the original author to encourage and support their future content, and the other half go to the platform to pay for the services provided. In the example below, Bob and Beatrice spend {{(index .Step2.Replies 0).Cost}} and {{(index .Step2.Replies 1).Cost}} respectively to respond, yielding {{.Step2.User}} {{.Step2.Yield}} coins.</p>

            <div class="demo">
                <h4 style="margin: 8px 0px;">{{.Step2.Topic}}</h4>

                {{template "message" .Step2}}

                <ul class="reply">
                    {{template "reply" .Step2}}
                </ul>
            </div>

            <h2 style="color: white;">Step 3</h2>

            <p>Collaboration, discussion, and debate reward the participants. Authors earn coins when their posts yield more than they cost, which they can put towards more content in future.</p>

            <div class="demo">
                <h4 style="margin: 8px 0px;">{{.Step3.Topic}}</h4>

                {{template "message" .Step3}}

                <ul class="reply">
                    {{template "reply" .Step3}}
                </ul>
            </div>

            <h2 style="color: white;">Step 4</h2>

            <p>Periodically the conversation threads with the highest yield are aggregated and typeset into a digest which is then published to all subscribers. Authors reach a diverse audience, and subscribers get high-quality content covering a wide range of topics; win-win!</p>

            <img class="feature" src="/static/digest.svg" />

            <div class="footer">
                <ul class="nav">
                    <li><a href="/account">Account</a></li>
                    <li><a href="/publish">Publish</a></li>
                    <li><a href="/best">Best</a></li>
                    <li><a href="/recent">Recent</a></li>
                    <li><a href="/digest">Digest</a></li>
                </ul>
                <ul class="nav">
                    <li><a href="mailto:support@aletheiaware.com">Support</a></li>
                </ul>
                <p class="meta">© 2021 Aletheia Ware LLC.  All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
