<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="preload" href="/static/NotoSerif-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/static/NotoSerif-ExtraBold.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="stylesheet" href="/static/styles.css"/>
        <link rel="stylesheet" href="/static/digest-styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <noscript>
                <p class="error">The digest reader needs javascript to be enabled.</p>
            </noscript>

            <div id="area"></div>

            <a id="prev" class="arrow">‹</a>
            <a id="next" class="arrow">›</a>

            <script src="/static/jszip.min.js"></script>
            <script src="/static/epub.min.js"></script>
            <script>
                var book = ePub("/digest/Convey-Digest-{{.Edition}}.epub");
                var rendition = book.renderTo("area", {
                    manager: "continuous",
                    flow: "paginated",
                    snap: true,
                    width: "100%",
                    height: "100%",
                });
                rendition.display();

                book.ready.then(function() {
                    var next = document.getElementById("next");
                    next.addEventListener("click", function(e){
                        rendition.next();
                        e.preventDefault();
                    }, false);

                    var prev = document.getElementById("prev");
                    prev.addEventListener("click", function(e){
                        rendition.prev();
                        e.preventDefault();
                    }, false);

                    var keyListener = function(e){
                        if ((e.keyCode || e.which) == 37) {
                            rendition.prev();
                        }
                        if ((e.keyCode || e.which) == 39) {
                            rendition.next();
                        }
                    };

                    rendition.on("keyup", keyListener);
                    document.addEventListener("keyup", keyListener, false);
                });
                rendition.on("relocated", function(location){
                    if (location.atEnd) {
                        next.style.visibility = "hidden";
                    } else {
                        next.style.visibility = "visible";
                    }

                    if (location.atStart) {
                        prev.style.visibility = "hidden";
                    } else {
                        prev.style.visibility = "visible";
                    }
                });
            </script>

            <p class="center">
                <small><a href="/digest/Convey-Digest-{{.Edition}}.epub" download>download</a></small>
            </p>

            {{template "footer"}}
        </div>
    </body>
</html>
