<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
        <style type="text/css">
            .edition {
                margin: 0px auto;
                width: 30%;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <h1 class="center">Digest</h1>

            {{template "editions" .Editions}}

            <a class="call-to-action" href="/subscribe-digest">Send Me the Digest!</a>

            {{template "footer"}}
        </div>
    </body>
</html>
