<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="stylesheet" href="/static/styles.css"/>
        <style type="text/css">
            .conversation {
                text-align: left;
            }
            .edition {
                width: 25%;
                text-align: center;
                display: inline-block;
            }
        </style>
        <title>Convey - Aletheia Ware</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <p class="subtitle">Quality Public Dialogue.</p>

            {{if .Account -}}
            <p class="center">Hello {{.Account.Username}}, what will you <strong>convey</strong> today?</p>

            <ul class="nav">
                <li><a href="/account">Account</a></li>
                <li><a href="/publish">Publish</a></li>
                <li><a href="/best">Best</a></li>
                <li><a href="/recent">Recent</a></li>
                <li><a href="/digest">Digest</a></li>
            </ul>

            {{- else -}}

            <p class="center">Convey is a Communication Platform that Incentivizes Quality Content, Collaboration, and Discussion.</p>

            <a class="call-to-action" href="/subscribe-digest">Subscribe</a>

            <ul class="nav">
                <li><a href="/sign-in">Sign In</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
            </ul>

            {{- end}}

            <div class="tiles">
                <div class="tile">
                    <a href="/best">
                        <h2 class="center">Best</h2>
                    </a>

                    {{template "conversations" .Best}}

                    {{if gt (len .Best) 0 -}}
                    <ul class="nav">
                        <li><a href="/best?period=year&limit={{.Limit}}">More</a></li>
                    </ul>
                    {{- end}}
                </div>

                <div class="tile">
                    <a href="/recent">
                        <h2 class="center">Recent</h2>
                    </a>

                    {{template "conversations" .Recent}}

                    {{if gt (len .Recent) 0 -}}
                    <ul class="nav">
                        <li><a href="/recent?limit={{.Limit}}">More</a></li>
                    </ul>
                    {{- end}}
                </div>

                <div class="tile">
                    <a href="/digest">
                        <h2 class="center">Editions</h2>
                    </a>

                    {{template "editions" .Editions}}

                    {{if gt (len .Editions) 0 -}}
                    <ul class="nav">
                        <li><a href="/digest">More</a></li>
                    </ul>
                    {{- end}}

                    {{if not .Account -}}
                    <a class="call-to-action" href="/subscribe-digest">Get Next Edition</a>
                    {{- end}}
                </div>
            </div>

            {{template "footer"}}
        </div>
    </body>
</html>
