<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/logo.svg">
        <link rel="stylesheet" href="/static/styles.css"/>
        <link rel="stylesheet" href="/static/editor-styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            <div class="header">
                <a href="https://aletheiaware.com">
                    <img src="static/logo.svg" />
                </a>
                {{if not .Live -}}
                <div class="beta">BETA</div>
                {{- end}}
            </div>

            <h1 class="center">Publish</h1>
            <p class="subtitle">What will you Convey to the World?</p>

            {{if ne .Error "" -}}
            <p class="error">{{.Error}}</p>
            {{- end}}

            <noscript>
                <p class="error">The publishing tools need javascript to be enabled.</p>
            </noscript>

            <form action="/publish" enctype="multipart/form-data" method="post" id="publish-form">
                <!-- TODO(v2) add CSRF token
                <input type="hidden" id="token" name="token" value="{ { .Token } }" />
                -->
                <label for="topic">Topic</label>
                <input type="text" id="topic" name="topic" value="{{.Topic}}" maxlength="100"/>

                <label for="content">Content</label>
                <div class="markdown-tool">
                    <div class="markdown-tabbar">
                        <button type="button" id="markdown-editor-button">Edit</button>
                        <button type="button" id="markdown-preview-button">Preview</button>
                    </div>
                    <div id="markdown-editor" class="markdown-tab">
                        <textarea rows="5" cols="50" id="content" name="content">{{.Content}}</textarea>
                    </div>
                    <div id="markdown-preview" class="markdown-tab"></div>
                </div>
                <p style="font-size: x-small; margin: 0; text-align: center;"><a href="/static/markdown.html">Formatting Guide</a></p>

                <label for="attachment">Attachment</label>
                <input type="file" id="attachment" name="attachment" />

                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: right; width: 50%">Cost</td>
                        <td style="text-align: left; width: 50%;" id="cost">0{{template "currency"}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 50%">Balance</td>
                        <td style="text-align: left; width: 50%;">{{.Balance}}{{template "currency"}}</td>
                    </tr>
                </table>

                <input type="button" id="publish-button" />
            </form>

            <script type="text/javascript" src="/static/commonmark.min.js"></script>
            <script type="text/javascript" src="/static/editor.js"></script>
            <script type="text/javascript">
                const form = document.getElementById("publish-form");
                const editorTabButton = document.getElementById("markdown-editor-button");
                const previewTabButton = document.getElementById("markdown-preview-button");
                const editorTab = document.getElementById("markdown-editor");
                const previewTab = document.getElementById("markdown-preview");
                const content = document.getElementById('content');
                const attachment = document.getElementById('attachment');
                const cost = document.getElementById('cost');
                const limit = {{.Balance}};
                const submit = document.getElementById('publish-button');
                const suffix = `{{template "currency"}}`;
                SetupEditor(form, editorTabButton, previewTabButton, editorTab, previewTab, content, attachment, cost, limit, submit, "Publish", suffix);
            </script>

            <div class="footer">
                <ul class="nav">
                    <li><a href="/account">Account</a></li>
                    <li><a href="/best">Best</a></li>
                    <li><a href="/recent">Recent</a></li>
                    <li><a href="/digest">Digest</a></li>
                </ul>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="mailto:support@aletheiaware.com">Support</a></li>
                </ul>
                <p class="meta">© 2021 Aletheia Ware LLC.  All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
