<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="preload" href="/static/NotoSerif-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/static/NotoSerif-ExtraBold.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <h1 class="center">Recent</h1>

            {{template "conversations" .Conversations}}

            {{if .Account -}}
            {{if gt (len .Conversations) 0 -}}
            <ul class="nav">
                <li><a href="/recent?limit={{.Limit}}">More</a></li>
            </ul>
            {{- end}}
            {{- end}}

            {{template "footer"}}
        </div>
    </body>
</html>
