<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="stylesheet" href="/static/styles.css"/>
        <link rel="stylesheet" href="/static/editor-styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <h1 class="center">Reply</h1>

            <h2 class="center">{{with .Conversation}}{{.Topic}}{{end}}</h2>

            <div class="message">
                {{with .Message -}}
                <p class="meta">{{template "date-time" .Created}} {{with .Author}}{{.Username}}{{end}} {{template "cost" .Cost}} {{template "yield" .Yield}}</p>
                {{- end}}

                {{.Content}}
            </div>

            {{if ne .Error "" -}}
            <p class="error">{{.Error}}</p>
            {{- end}}

            <noscript>
                <p class="error">The publishing tools need javascript to be enabled.</p>
            </noscript>

            <form action="/reply" enctype="multipart/form-data" method="post" id="reply-form">
                <!-- TODO(v2) add CSRF token
                <input type="hidden" id="token" name="token" value="{ { .Token } }" />
                -->
                <input type="hidden" id="conversation" name="conversation" value="{{with .Conversation}}{{.ID}}{{end}}" />
                <input type="hidden" id="message" name="message" value="{{with .Message}}{{.ID}}{{end}}" />

                <div class="markdown-tool">
                    <div class="markdown-tabbar">
                        <button type="button" id="markdown-editor-button">Edit</button>
                        <button type="button" id="markdown-preview-button">Preview</button>
                    </div>
                    <div id="markdown-editor" class="markdown-tab">
                        <textarea rows="5" cols="50" id="reply" name="reply">{{.Reply}}</textarea>
                    </div>
                    <div id="markdown-preview" class="markdown-tab"></div>
                </div>
                <p style="font-size: x-small; margin: 0; text-align: center;"><a href="/markdown">Formatting Guide</a></p>

                <input type="file" id="attachment" name="attachment" />

                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: right; width: 50%">Cost</td>
                        <td style="text-align: left; width: 50%;" id="cost">0{{template "currency"}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 50%">Balance</td>
                        <td style="text-align: left; width: 50%;">{{.Balance}}{{template "currency"}}</td>
                    </tr>
                </table>

                <input type="button" id="reply-button" />
            </form>

            <script type="text/javascript" src="/static/commonmark.min.js"></script>
            <script type="text/javascript" src="/static/editor.js"></script>
            <script type="text/javascript">
                const form = document.getElementById("reply-form");
                const editorTabButton = document.getElementById("markdown-editor-button");
                const previewTabButton = document.getElementById("markdown-preview-button");
                const editorTab = document.getElementById("markdown-editor");
                const previewTab = document.getElementById("markdown-preview");
                const content = document.getElementById('reply');
                const attachment = document.getElementById('attachment');
                const cost = document.getElementById('cost');
                const limit = {{.Balance}};
                const submit = document.getElementById('reply-button');
                const suffix = `{{template "currency"}}`;
                SetupEditor(form, editorTabButton, previewTabButton, editorTab, previewTab, content, attachment, cost, limit, submit, "Reply", suffix);
            </script>

            {{template "footer"}}
        </div>
    </body>
</html>
