<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <head>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="preload" href="/static/NotoSerif-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/static/NotoSerif-ExtraBold.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <h1 class="center">Stripe</h1>

            {{if ne .Error "" -}}
            <p class="error">{{.Error}}</p>
            {{- end}}

            {{if .StripeAccount -}}
            <h4 class="center">Email</h4>

            <p class="center">{{.StripeAccount.Email}}</p>

            <h4 class="center">ID</h4>

            <p class="center">{{.StripeAccount.ID}}</p>

            <h4 class="center">Country</h4>

            <p class="center">{{.StripeAccount.Country}}</p>

            {{if .StripeOnboardingLink -}}
            <a class="call-to-action" href="{{.StripeOnboardingLink}}">Complete Onboarding</a>
            {{- else -}}
            <h4 class="center">Balance</h4>

            <h5 class="center">Available</h5>
            {{range .StripeAvailableBalance -}}
            <p class="center">{{.}}</p>
            {{- end}}

            <h5 class="center">Pending</h5>
            {{range .StripePendingBalance -}}
            <p class="center">{{.}}</p>
            {{- end}}

            {{if .StripeLoginLink -}}
            <a class="call-to-action" href="{{.StripeLoginLink}}">Visit Dashboard</a>
            {{- end}}
            {{- end}}

            {{- else -}}
            <form action="/stripe" method="post" id="stripe-form">
                <!-- TODO(v2) add CSRF token
                <input type="hidden" id="token" name="token" value="{ { .Token } }" />
                -->
                <input type="submit" id="stripe-button" value="Connect Account" />
            </form>
            {{- end}}

            {{template "footer"}}
        </div>
    </body>
</html>
