<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" type="image/svg" href="/static/convey.svg">
        <link rel="preload" href="/static/NotoSerif-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/static/NotoSerif-ExtraBold.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Convey</title>
    </head>

    <body>
        <div class="content">
            {{template "header" .}}

            <h1 class="center">Stripe</h1>

            {{if ne .Error "" -}}
            <p class="error">{{.Error}}</p>
            {{- end}}

            {{if .StripeAccount -}}
            <h4 class="center">Email</h4>

            <p class="center">{{.StripeAccount.Email}}</p>

            <h4 class="center">ID</h4>

            <p class="center">{{.StripeAccount.ID}}</p>

            <h4 class="center">Country</h4>

            <p class="center">{{.StripeAccount.Country}}</p>

            {{if .StripeOnboardingLink -}}
            <a class="call-to-action" href="{{.StripeOnboardingLink}}">Complete Onboarding</a>
            {{- else -}}
            <h4 class="center">Balance</h4>

            <h5 class="center">Available</h5>
            {{range .StripeAvailableBalance -}}
            <p class="center">{{.}}</p>
            {{- end}}

            <h5 class="center">Pending</h5>
            {{range .StripePendingBalance -}}
            <p class="center">{{.}}</p>
            {{- end}}

            {{if .StripeLoginLink -}}
            <a class="call-to-action" href="{{.StripeLoginLink}}">Visit Dashboard</a>
            {{- end}}
            {{- end}}

            {{- else -}}
            <form action="/stripe" method="post" id="stripe-form">
                <!-- TODO(v2) add CSRF token
                <input type="hidden" id="token" name="token" value="{ { .Token } }" />
                -->
                <select id="country" name="country">
                    <!--<option value="AR">Argentina</option>-->
                    <!--<option value="AU">Australia</option>-->
                    <!--<option value="AT">Austria</option>-->
                    <!--<option value="BE">Belgium</option>-->
                    <!--<option value="BO">Bolivia</option>-->
                    <!--<option value="BR">Brazil</option>-->
                    <option value="BG">Bulgaria</option>
                    <!--<option value="CA">Canada</option>-->
                    <!--<option value="CL">Chile</option>-->
                    <!--<option value="CO">Colombia</option>-->
                    <!--<option value="CR">Costa Rica</option>-->
                    <!--<option value="HR">Croatia</option>-->
                    <!--<option value="CY">Cyprus</option>-->
                    <!--<option value="CZ">Czech Republic</option>-->
                    <!--<option value="DK">Denmark</option>-->
                    <!--<option value="DO">Dominican Republic</option>-->
                    <!--<option value="EG">Egypt</option>-->
                    <!--<option value="EE">Estonia</option>-->
                    <!--<option value="FI">Finland</option>-->
                    <!--<option value="FR">France</option>-->
                    <!--<option value="DE">Germany</option>-->
                    <!--<option value="GR">Greece</option>-->
                    <!--<option value="HK">Hong Kong SAR China</option>-->
                    <!--<option value="HU">Hungary</option>-->
                    <!--<option value="IS">Iceland</option>-->
                    <!--<option value="IN">India</option>-->
                    <!--<option value="ID">Indonesia</option>-->
                    <!--<option value="IE">Ireland</option>-->
                    <!--<option value="IL">Israel</option>-->
                    <!--<option value="IT">Italy</option>-->
                    <!--<option value="JP">Japan</option>-->
                    <!--<option value="KE">Kenya</option>-->
                    <!--<option value="LV">Latvia</option>-->
                    <!--<option value="LI">Liechtenstein</option>-->
                    <!--<option value="LT">Lithuania</option>-->
                    <!--<option value="LU">Luxembourg</option>-->
                    <!--<option value="MT">Malta</option>-->
                    <!--<option value="MX">Mexico </option>-->
                    <!--<option value="NL">Netherlands</option>-->
                    <!--<option value="NZ">New Zealand</option>-->
                    <!--<option value="NO">Norway</option>-->
                    <!--<option value="PY">Paraguay</option>-->
                    <!--<option value="PE">Peru</option>-->
                    <!--<option value="PH">Philippines</option>-->
                    <!--<option value="PL">Poland</option>-->
                    <!--<option value="PT">Portugal</option>-->
                    <!--<option value="RO">Romania</option>-->
                    <!--<option value="SA">Saudi Arabia</option>-->
                    <!--<option value="SG">Singapore</option>-->
                    <!--<option value="SK">Slovakia</option>-->
                    <!--<option value="SI">Slovenia</option>-->
                    <!--<option value="ZA">South Africa</option>-->
                    <!--<option value="ES">Spain</option>-->
                    <!--<option value="SE">Sweden</option>-->
                    <!--<option value="CH">Switzerland</option>-->
                    <!--<option value="TH">Thailand</option>-->
                    <!--<option value="TT">Trinidad & Tobago</option>-->
                    <!--<option value="TR">Turkey</option>-->
                    <!--<option value="AE">United Arab Emirates</option>-->
                    <option value="GB">United Kingdom</option>
                    <option value="US" selected>United States</option>
                    <!--<option value="UY">Uruguay</option>-->
                </select>
                <input type="submit" id="stripe-button" value="Connect Account" />
            </form>
            {{- end}}

            {{template "footer"}}
        </div>
    </body>
</html>
