{{define "message" -}}
<div class="message" id="message{{.MessageID}}">
    <p class="meta">{{template "date-time" .Created}} {{.Author.Username}} {{template "cost" .Cost}} {{template "yield" .Yield}}</p>

    {{.Content}}

    {{if .ConversationID -}}
    <p class="meta">
        <small>
            <a href="reply?conversation={{.ConversationID}}&message={{.MessageID}}">reply</a>
            <a href="gift?conversation={{.ConversationID}}&message={{.MessageID}}">gift</a>
        </small>
    </p>
    {{- end}}
</div>
{{- end}}
