{{define "editions" -}}
{{range . -}}
<div class="edition">
    <a href="/digest?edition={{.}}">
        <h3 class="center">{{.}}</h3>
        <img srcset="/digest/Convey-Digest-{{.}}-240w.png 240w, /digest/Convey-Digest-{{.}}-480w.png 480w, /digest/Convey-Digest-{{.}}-1024w.png 1024w, /digest/Convey-Digest-{{.}}.png 1600w" sizes="(max-width: 600px) 50vw, 25vw" src="/digest/Convey-Digest-{{.}}-240w.png" alt="Convey Digest {{.}} Cover" title="Convey Digest {{.}}" loading="lazy" />
    </a>
    <small><a href="/digest/Convey-Digest-{{.}}.epub" download>download</a></small>
</div>
{{- end}}
{{- end}}
