textarea {
    border-color: deepskyblue;
    border-style: solid;
    border-radius: 0 4px 4px 4px;
    border-width: 2px;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 8px 16px;
    width: 100%;
}
textarea:focus {
    border-color: lightskyblue;
}
.markdown-tab {
    flex: 1;
}
.markdown-tabbar {
    flex: 1;
}
.markdown-tabbar button {
    background-color: white;
    border-style: none;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    float: left;
    outline: none;
    padding: 4px 0;
    width: 50%;
}
.markdown-tabbar button:hover {
    background-color: lightskyblue;
}
.markdown-tabbar button.active {
    background-color: deepskyblue;
}
.markdown-tool {
    display: flex;
    flex-direction: column;
}
#markdown-editor-button:hover:not(.active) {
    border-radius: 4px 4px 0 4px;
}
#markdown-preview-button:hover:not(.active) {
    border-radius: 4px 4px 4px 0;
}
#markdown-preview {
    border-color: deepskyblue;
    border-style: solid;
    border-radius: 4px 0 4px 4px;
    border-width: 2px;
    padding: 8px 16px;
}