@font-face {
    font-family: "Noto Serif Regular";
    font-style: normal;
    font-weight: normal;
    src: local("NotoSerif-Regular.ttf"), url("/static/NotoSerif-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Noto Serif Extra Bold";
    font-style: normal;
    font-weight: bold;
    src: local("NotoSerif-ExtraBold.ttf"), url("/static/NotoSerif-ExtraBold.ttf") format("truetype");
}
a {
    color: deepskyblue;
}
a:hover {
    color: lightskyblue;
}
a.call-to-action {
    background-color: white;
    border-color: deepskyblue;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    color: deepskyblue;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 16px auto 16px auto;
    min-width: 96px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    width: 25%;
}
a.call-to-action:hover {
    background-color: deepskyblue;
    color: white;
}
a.danger {
    color: red;
}
a.danger:hover {
    color: orangered;
}
body {
    background-color: white;
    font-family: "Noto Serif Regular", serif;
}
div.beta {
    background-color: red;
    border-style: none;
    border-radius: 4px;
    border-width: 2px;
    color: white;
    display: table;
    font-size: x-small;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0 auto;
    padding: 4px;
    text-align: center;
}
div.message, div.gift {
    overflow-x: visible;
}
embed.banner {
    display: block;
    height: auto;
    margin: 10px auto 0px auto;
    min-width: 320px;
    width: 50%;
}
form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, h4, h5, h6 {
    color: deepskyblue;
}
img.feature {
    display: block;
    height: auto;
    margin: 0px auto;
    max-width: 480px;
    width: 100%;
}
input {
    border-color: deepskyblue;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 8px 16px;
}
input:focus {
    border-color: lightskyblue;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    outline: none;
}
input:not([type=radio]) {
    width: 100%;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: deepskyblue;
    border-style: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0;
    padding: 16px 32px;
    text-decoration: none;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: lightskyblue;
}
input[type=button]:disabled, input[type=submit]:disabled, input[type=reset]:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
}
input[type=submit].danger {
    background-color: red;
}
input[type=submit].danger:hover {
    background-color: orangered;
}
p.error {
    color: red;
    text-align:center;
}
p.meta {
    color: lightskyblue;
    font-size: x-small;
    letter-spacing: 0.05em;
    margin: 3px 0px 3px 0px;
}
p.subtitle {
    text-align: center;
}
table.bundles {
    border-collapse: separate;
    border-spacing: 8px;
    margin-left: auto;
    margin-right: auto;
}
td.bundles {
    border-color: deepskyblue;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    text-align: center;
    margin: 8px;
    padding: 8px;
}
table.features {
    table-layout: fixed;
    width: 100%;
}
td.features {
    width: 50%;
}
table.notifications {
    width: 100%;
}
td.notifications {
    text-align: center;
    width: 10%;
}
ul {
    padding-left: 20px;
}
ol {
    padding-left: 20px;
}
.center {
    text-align: center;
}
.content {
    margin: 0 auto;
    max-width: 960px;
    padding: 10px;
}
.header {
    border-bottom: 1px solid deepskyblue;
    overflow: hidden;
    padding-bottom: 10px;
}
.header a {
    text-decoration: none;
}
.header a h1 {
    font-family: "Noto Serif Extra Bold", serif;
    font-size: 64px;
    font-size: 10vw;
    margin: 0;
    text-align: center;
}
.footer {
    border-top: 1px solid deepskyblue;
    overflow: hidden;
    padding-top: 10px;
}
.footer img {
    display: block;
    margin: 0 auto;
}
.footer p {
    text-align: center;
}
.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.nav a {
    color: deepskyblue;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
}
.nav a:hover {
    color: lightskyblue;
}
.nav a.danger {
    color: red;
}
.nav a.danger:hover {
    color: orangered;
}
.nav li {
    display: inline;
}
ul.reply, ul.gift {
    list-style-type: none;
    padding-left: 4px;
}
li.reply, li.gift {
    border-left: thin solid rgba(135,206,250,0.25); /*semi-transparent lightskyblue*/
    margin: 4px;
    padding-left: 4px;
}
ul.ucc {
    list-style-type: disc;
}
h1.ucc, h2.ucc, h3.ucc, h4.ucc, h5.ucc, h6.ucc {
    max-width: 100%;
}
img.ucc {
    max-width: 100%;
}
object.ucc {
    max-width: 100%;
    max-height: 600px;
}
p.ucc {
    margin: 8px 0;
    max-width: 100%;
}
pre.ucc, code.ucc {
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
}
video.ucc {
    max-width: 100%;
}
.currency {
    color: gold;
}
.yield {
    color: limegreen;
}
.tile {
    flex: auto;
    text-align: center;
    max-width: 100%;
    min-width: 50%;
}
.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
@media screen and (max-width: 600px) {
    a.call-to-action {
        width: 50%;
    }
    form {
        width: 100%;
    }
    .tile {
        min-width: 100%;
    }
}
